.App {
    text-align: center;

    .progress-bar {
        margin: 50px 100px;
    }

    .question {
        margin: 50px 10px;
    }
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    * {
        margin: 10px 15px;
    }

    #input-box {
        width: 60vw;
        margin: 0;
    }
}